@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
  --font-karla: 'Karla', sans-serif;
  --font-markazi: 'Markazi Text', serif;
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --display-width-sm: 800px;
  --display-width-lg: 1000px;

 }

 * {
  padding: 0;
  margin: 0;
 }

body {
  margin: 0;
  font-family: var(--font-karla);

  /* display width   left & right padding
     -------------   ---------------------
     < 200px         0
     200px to 400px  0 to 20px
     200px to 400px  0 to 20px
     > 400px         20px
*/
  padding: 0 min(10% - 20px, 20px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

#root {
  display: flex;
  flex-direction: column;
  max-width: calc((100vw + var(--display-width-lg)) / 2);
  margin-left: auto;
  margin-right: auto;
  /*border: solid 1px red;*/
}

nav, .hero, .specials, .booking-form {
  --display-width: min(var(--display-width-lg), 2 * (var(--display-width-lg) - var(--display-width-sm)) + 50%);
  --lr-padding: max(max(5px, 7.5% - 10px), (100% - var(--display-width))/2);
  padding-left: var(--lr-padding);
  padding-right: var(--lr-padding);
}

.hero {
  margin-bottom: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: 85px;
  justify-content: space-between;
  /*border: solid 1px red;*/
}

nav img {
  width: 200px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  min-width: 450px;


  /* Remove list styling */
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px; /* margin between logo and menu */
  /*border: solid 1px red;*/
}

nav img.menu-icon {
  width: 30px;
  height: 30px;
}

/* If display width < 800px switch to hamburger menu */
@media only screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
  nav img.logo {
    max-width: 75%;
  }
  nav img.menu-icon {
    max-width: 20%;
  }

}

@media only screen and (min-width: 801px) {
  nav img.menu-icon {
    display: none;
  }
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.hero {
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --hero-bg-height: 250px;
  --hero-top-pad: 20px;
  background: linear-gradient(var(--primary-green) 0, var(--primary-green) var(--hero-bg-height), white var(--hero-bg-height), white 100%);
  padding-top: var(--hero-top-pad);
  /*border: solid 1px red;*/
}


.hero .hero-left {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: calc(var(--hero-bg-height) - 2 * var(--hero-top-pad));
  width: 50%;
  max-width: 215px;
  /*border: solid 1px red;*/
}

h1 {
  font-family: var(--font-markazi);
  font-size: 36pt;
  font-weight: 500;
}
.hero .hero-left h1 {
  line-height: 80%;
}

.hero .hero-left h2 {
  line-height: 100%;
}

.hero .hero-left h1, h2 {
  margin: 0;
  padding: 0;
}

.hero .hero-left h1 {
  color: var(--primary-yellow);
  margin-top: -12px;
}

.hero .hero-left h2 {
  font-family: var(--font-markazi);
  color: white;
  font-size: 24pt;
  font-weight: 400;
}

.hero .hero-left p {
  align-self: center;
  color: white;
  margin-bottom: 10px;
}

.hero .hero-left a {
  justify-self: left;
}

.hero img.hero-right {
  border-radius: 16px;
  margin-top: 20px;
  width: 40%;
  object-fit: cover;
  /*border: 1px solid red;*/
}

@media only screen and (max-width: 520px) {
  .hero {
    background: var(--primary-green);
    padding-bottom: var(--hero-top-pad);
    flex-direction: column;
    height: unset;
  }
  .hero .hero-left {
    width: 100%;
    max-width: unset;
    height: unset;
  }

  .hero .hero-left a[role=button] {
    justify-self: center;
  }

  .hero img.hero-right {
    align-self: center;
    width: min(90%, 200px);
    object-fit: contain;
    content: url(../public/restaurantfood-sm.jpg);
  }
}

.specials {
  display: flex;
  flex-direction: column;
}
.specials .specials-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid red;*/
}

@media only screen and (max-width: 575px) {
  .specials .specials-header {
    flex-direction: column;
  }
}

.specials .card-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: 1px solid red;*/
}

.card {
  width: 30%;
  max-width: 280px;
/*  display: flex;
  flex-direction: column;
  */
  display: grid;
  grid-template-areas:
    "i i"
    "t p"
    "d d"
    "o o";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: min(195px, 20vi) 26px auto auto;
  border-radius: 8px 8px 0 0;
  background-color: #eeeeee;
  margin-top: 20px;
  /*border: 1px solid red;*/
}

.card > img {
  grid-area: i;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 650px) {
  .specials .card-block {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) and (min-width: 450px) {
  .specials .card-block {
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: unset;
    grid-template-areas:
    "i t p"
    "i d d"
    "i o o";
    grid-template-columns: 35% auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    border-radius: 8px 0 0 8px;

  }

  .card img {
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 8px 0 0 8px;

  }
}

@media only screen and (max-width: 449px) and (min-width: 300px){
  .card {
    width: 100%;
    max-width: unset;
    grid-template-areas:
    "i t"
    "i p"
    "d d"
    "o o";
    grid-template-columns: 50% auto;
    grid-template-rows: 26px auto auto auto;
    column-gap: 10px;
    border-radius: 8px 0 0 8px;

  }
  .card img {
    max-width: unset;
    min-width: unset;
    margin-bottom: 10px;
    border-radius: 8px 0 0 8px;
  }
  .card h1 {
    text-align: right;
  }
}

@media only screen and (max-width: 299px) {
  .card {
    width: 100%;
    grid-template-rows: auto 26px auto auto;
  }
}




/*

.card .description {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.card .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
*/
@media only screen and (max-width: 700px) {
  .card .title {
    flex-direction: column;
    align-items: start;
  }
}
.card h1 {
  grid-area: t;
  font-size: 16pt;
  font-weight: bold;
}
.card .price {
  grid-area: p;
  font-size: 14pt;
  font-weight: regular;
  color: hsl(19, 78%, 55%);
  text-align: right;
}

.card p {
  grid-area: d;
  margin: 20px 0;
}


.card .order {
  grid-area: o;
  display: flex;
  font: var(--font-karla);
  font-size: 12pt;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-top: auto;  /* Align to bottom of flex container. */
  /*border: 1px solid red;*/
}

.card .order img {
  max-width: 1.5em;
  max-height: 1.5em;
  object-fit: cover;
  margin-left: max(10px, 10%);
}


input[type=submit], button, a[role=button] {
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--primary-yellow);
  color: black;
  justify-content: center;
  border-radius: 12px;
  border: none;
  font-family: var(--font-karla);
  font-size: 12pt;
}

input[type="submit"][invalid=true], button[invalid=true], a[role=button][invalid=true] {
  color: #888;
  background-color: white;
  border: 1px solid #888;
}

.hero.booking h1 {
  margin-top: 20px;
}

.hero.booking img.hero-right {
  width: 570px;
  object-fit: cover;
  content: url(../public/reserved_table.jpg);
}

@media only screen and (max-width: 1000px) {
  .hero.booking img.hero-right {
    width: calc(100% - 266px);
  }
}

@media only screen and (max-width: 750px) {
  .hero.booking img.hero-right {
    content: url(../public/reserved_table_sm.jpg);
  }
}

@media only screen and (max-width: 520px) {
  .hero.booking h1 {
    text-align: center;
  }
  .hero.booking p {
    text-align: center;
  }
  .hero.booking img.hero-right {
    width: 60%;
    min-width: 160px;
  }
}

@media only screen and (max-width: 250px) {
  .hero.booking img.hero-right {
    /*display: none;*/
  }
}

.booking-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 20px
}

.formField {
  display: flex;
   flex-direction: column;
}
.formField .validationMsg {
  visibility: hidden;
  color: #c00;
  font-size: 11pt;
  margin-bottom: 8px;
}

.formField.invalid .validationMsg {
  visibility: visible;
}

.formField.invalid > *:first-child {
  border-color: #c00;
}

.booking form > label {
  width: 10em;
}

.booking form input, .booking form select {
  max-width: 240px;
  box-sizing: border-box;
}

.booking form input[type=submit] {
  margin-top: 40px;
  box-sizing: border-box;
}



